
* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: @bar-bg;
	color: @main-fg;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @main-bg;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @bar-bg;
	background: @main-bg;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: @main-bg;
}

#workspaces button {
	padding: 0 2px;
	color: @main-fg;
}
#workspaces button.focused {
	color: @wb-act-fg;
	background: @wb-act-bg;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @wb-hvr-bg;
	color: @wb-hvr-fg;
	border: @main-bg;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
